@import "./base.css";

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  color: black;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(50, 58%, 41%, 0.2);
  }
}

label {
  margin-bottom: 10px;
  margin-top: 5px;
}

h3 {
  font-size: 40px;
  margin: 20px 0 10px 0;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
}
